DATABASE_URL=YOUR_NEON_DATABASE_URL

CLOUDINARY_CLOUD_NAME=YOUR_CLOUDINARY_CLOUD_NAME
CLOUDINARY_API_KEY=YOUR_CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_API_SECRET

CLOUDINARY_FOLDER=dekhoearn/videos

ADMIN_KEY=YOUR_ADMIN_KEY
